
<!-- Results grid column (12 cols, hidden, shown when a keyword is selected ) -->

<div ng-repeat="movie in movies" class="large-4 small-6 columns">

    <div class="{{{true:'movie-added', false:'movie-not-added'}[movie.added]}}">
        <img class="movie-img" ng-src="{{movie.imgUrl}}">
        <div class="panel movie-panel">
            <h5>{{movie.title}}</h5>
            <h6 class="subheader">{{movie.date | date:'MMM yyyy'}}</h6>
            <img ng-click="toggleMembership(movie)" ng-src="{{{true:'/catharsis-app/img/remove-on.png', false:'/catharsis-app/img/add-on.png'}[movie.added]}}" title="{{{true:'Remove from', false:'Add to'}[movie.added]}} playlist" class="movie-btn"  />
        </div>
    </div>

</div>
